#wordamentGame{

}

#title{
  height:6vw;
  width:44vw;
  margin:auto;
  font-size:5vw;
  text-align:center;
}

#topArea{
  margin:auto;
  height:3vw;
  width:44vw;
}

#board{
  margin:auto;
  width:45vw;
  height:45vw;
}

#guesses{
  color:black;
  font-size:2vw;
  width:42vw;
  height:20vw;
  background-color:white;
  text-transform: lowercase;
  margin:auto;
}

#totalScore{
  color:black;
  font-size:2vw;
  width:10vw;
  height:1vw;
  background-color:white;
  margin-left:1.5%;
  float:left;
}

#current{
  width:5vw;
  height:3vw;
  font-size:2vw;
  margin:auto;
}

#scores{
  width:45vw;
  height:45vw;
  margin:auto;
  margin-top:-65vw;
}

#leaderboardTitle{
  width:20vw;
  height:3vw;
  font-size:2.7vw;
  margin:auto;
  text-align:center;
}

#leaderboard{
  width:40vw;
  height:40vw;
  font-size:1.4vw;
  line-height:3vw;
  margin:auto;
  margin-top:2vw;
  text-align:center;
}

#name{
  height:2vw;
  width:25vw;
  margin-top:-45vw;
  margin-left:70vw;
}

#username{
  height:1.2vw;
  width:10vw;
}

#setUsername{
  width:8vw;
  height:1.5vw;
  font-size:.9vw
}

#yourName{
  font-size:1.5vw
}

.timer{
  color:black;
  font-size:2vw;
  width:4vw;
  height:3vw;
  background-color:white;
  float:right;
  margin-right:2.2vw;
}

.row{
  display:table;
  border-spacing:.5vw;
  z-index=0;
}

.tile{
  display:table-cell;
  width:10vw;
  height:10vw;
  background-color:rgb(0, 191, 255);
  color:white;
  text-align:center;
  line-height:10vw;
  font-size:4vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scoreRow{
  display:table;
  border-spacing:.5vw;
  z-index=1;
  /*margin-left:8px;*/
}

.scoreTile{
  display:table-cell;
  width:10vw;
  height:10vw;
  /*padding-right:92.3px;
  padding-bottom:83px;*/
  color:white;
  text-align:left;
  text-indent:8px;
  line-height:3vw;
  font-size:15px;
  margin-top:-100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
