#wordamentGame{
  
}

#topArea{
  height:3vw;
  width:48vw;
}

#board{
  width:50vw;
  height:50vw;
}

#guesses{
  color:black;
  font-size:2vw;
  width:42vw;
  height:20vw;
  background-color:white;
  text-transform: lowercase;
}

#totalScore{
  color:black;
  font-size:2vw;
  width:10vw;
  height:1vw;
  background-color:white;
  margin-left:1.5%;
  float:left;
}

#timer{
  color:black;
  font-size:2vw;
  width:40px;
  height:30px;
  background-color:white;
  float:right;
}
#scoreRow1{
  margin-top:-70.3vw;
}

.row{
  display:table;
  border-spacing:.5vw;
  z-index=0;
}

.tile{
  display:table-cell;
  width:10vw;
  height:10vw;
  background-color:rgb(0, 191, 255);
  color:white;
  text-align:center;
  line-height:10vw;
  font-size:4vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scoreRow{
  display:table;
  border-spacing:.5vw;
  z-index=1;
  /*margin-left:8px;*/
}

.scoreTile{
  display:table-cell;
  width:10vw;
  height:10vw;
  /*padding-right:92.3px;
  padding-bottom:83px;*/
  color:white;
  text-align:left;
  text-indent:8px;
  line-height:3vw;
  font-size:15px;
  margin-top:-100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

